---
title: Dropdown
---
p.-text
  | Use the function <code>chi.dropdown(elem)</code> to instantiate a new dropdown component in the DOM
  | element passed as a parameter. You must use the trigger element as the parameter.

.example.-mb3
  .-p3
    .m-dropdown
      button.a-btn.m-dropdown__trigger Dropdown, click me
      .m-dropdown__menu
        a.m-dropdown__menu-item(href='#') Element 1
        a.m-dropdown__menu-item(href='#') Element 2
        a.m-dropdown__menu-item(href='#') Element 3
        a.m-dropdown__menu-item(href='#') Element 4
  :code(lang="html")
    <div class="m-dropdown">
      <button id="dropdown-1" class="a-btn m-dropdown__trigger">Dropdown, click me</button>
      <div class="m-dropdown__menu">
        <a class="m-dropdown__menu-item" href="#">Element 1</a>
        <a class="m-dropdown__menu-item" href="#">Element 2</a>
        <a class="m-dropdown__menu-item" href="#">Element 3</a>
        <a class="m-dropdown__menu-item" href="#">Element 4</a>
      </div>
    </div>
    <script>chi.dropdown(document.getElementById('dropdown-1'));</script>

- var imagesRoute = '../../assets/images/flags/';
- var i = 0;
-
  var flags = [
    {file: 'AR.png', title: 'Argentina'},
    {file: 'AU.png', title: 'Australia'},
    {file: 'BR.png', title: 'Brazil'},
    {file: 'CA.png', title: 'Canada - English'},
    {file: 'CA.png', title: 'Canada - French'},
    {file: 'CL.png', title: 'Chile'},
    {file: 'CO.png', title: 'Columbia'},
    {file: 'CR.png', title: 'Costa Rica'},
    {file: 'EC.png', title: 'Ecuador'},
    {file: 'DE.png', title: 'Germany'},
    {file: 'HK.png', title: 'Hong Kong - Chinese'},
    {file: 'HK.png', title: 'Hong Kong - English'},
    {file: 'JP.png', title: 'Japan'},
    {file: 'MX.png', title: 'Mexico'},
    {file: 'PA.png', title: 'Panama'},
    {file: 'PE.png', title: 'Peru'},
    {file: 'SG.png', title: 'Singapore'},
    {file: 'GB.png', title: 'United Kingdom'},
    {file: 'US.png', title: 'United States'},
    {file: 'VE.png', title: 'Venezuela'}
  ];

h4 International/language flags example
.example.-mb3
  .-p3
    .m-dropdown
      button.a-btn.-icon.-flat.m-dropdown__trigger(data-target="#flags", data-position='bottom')
        .a-btn__content
          .a-icon
            img.-w--100.-h--auto(src=imagesRoute + flags[18].file, alt=flags[18].title)
      .m-dropdown__menu#flags
        .-d--flex
          div
            while i < flags.length/2
              a.m-dropdown__menu-item(href='')
                img.-mr--2(src=imagesRoute + flags[i].file, alt=flags[i].title, style="width: 1rem; height: auto;")
                = flags[i].title
              - i++;
          div
            while i < flags.length
              a.m-dropdown__menu-item(href='')
                img.-mr--2(src=imagesRoute + flags[i].file, alt=flags[i].title, style="width: 1rem; height: auto;")
                = flags[i].title
              - i++;
  :code(lang="html")
    <div class="m-dropdown">
      <button class="a-btn -icon -flat m-dropdown__trigger" data-target="#flags" data-position="bottom">
        <div class="a-btn__content">
          <div class="a-icon">
            <img class="-w--100 -h--auto" src="../../assets/images/flags/US.png" alt="United States">
          </div>
        </div>
      </button>
      <div class="m-dropdown__menu" id="flags">
        <div class="-d--flex">
          <div>
            <a class="m-dropdown__menu-item" href="#"><img class="-mr--2" src="../../assets/images/flags/AR.png" alt="Argentina" style="width: 1rem; height: auto;">Argentina</a>
            <a class="m-dropdown__menu-item" href="#"><img class="-mr--2" src="../../assets/images/flags/AU.png" alt="Australia" style="width: 1rem; height: auto;">Australia</a>
            <a class="m-dropdown__menu-item" href="#"><img class="-mr--2" src="../../assets/images/flags/BR.png" alt="Brazil" style="width: 1rem; height: auto;">Brazil</a>
            <a class="m-dropdown__menu-item" href="#"><img class="-mr--2" src="../../assets/images/flags/CA.png" alt="Canada - English" style="width: 1rem; height: auto;">Canada - English</a>
            <a class="m-dropdown__menu-item" href="#"><img class="-mr--2" src="../../assets/images/flags/CA.png" alt="Canada - French" style="width: 1rem; height: auto;">Canada - French</a>
            <a class="m-dropdown__menu-item" href="#"><img class="-mr--2" src="../../assets/images/flags/CL.png" alt="Chile" style="width: 1rem; height: auto;">Chile</a>
            <a class="m-dropdown__menu-item" href="#"><img class="-mr--2" src="../../assets/images/flags/CO.png" alt="Columbia" style="width: 1rem; height: auto;">Columbia</a>
            <a class="m-dropdown__menu-item" href="#"><img class="-mr--2" src="../../assets/images/flags/CR.png" alt="Costa Rica" style="width: 1rem; height: auto;">Costa Rica</a>
            <a class="m-dropdown__menu-item" href="#"><img class="-mr--2" src="../../assets/images/flags/EC.png" alt="Ecuador" style="width: 1rem; height: auto;">Ecuador</a>
            <a class="m-dropdown__menu-item" href="#"><img class="-mr--2" src="../../assets/images/flags/DE.png" alt="Germany" style="width: 1rem; height: auto;">Germany</a>
          </div>
          <div>
            <a class="m-dropdown__menu-item" href="#"><img class="-mr--2" src="../../assets/images/flags/HK.png" alt="Hong Kong - Chinese" style="width: 1rem; height: auto;">Hong Kong - Chinese</a>
            <a class="m-dropdown__menu-item" href="#"><img class="-mr--2" src="../../assets/images/flags/HK.png" alt="Hong Kong - English" style="width: 1rem; height: auto;">Hong Kong - English</a>
            <a class="m-dropdown__menu-item" href="#"><img class="-mr--2" src="../../assets/images/flags/JP.png" alt="Japan" style="width: 1rem; height: auto;">Japan</a>
            <a class="m-dropdown__menu-item" href="#"><img class="-mr--2" src="../../assets/images/flags/MX.png" alt="Mexico" style="width: 1rem; height: auto;">Mexico</a>
            <a class="m-dropdown__menu-item" href="#"><img class="-mr--2" src="../../assets/images/flags/PA.png" alt="Panama" style="width: 1rem; height: auto;">Panama</a>
            <a class="m-dropdown__menu-item" href="#"><img class="-mr--2" src="../../assets/images/flags/PE.png" alt="Peru" style="width: 1rem; height: auto;">Peru</a>
            <a class="m-dropdown__menu-item" href="#"><img class="-mr--2" src="../../assets/images/flags/SG.png" alt="Singapore" style="width: 1rem; height: auto;">Singapore</a>
            <a class="m-dropdown__menu-item" href="#"><img class="-mr--2" src="../../assets/images/flags/GB.png" alt="United Kingdom" style="width: 1rem; height: auto;">United Kingdom</a>
            <a class="m-dropdown__menu-item" href="#"><img class="-mr--2" src="../../assets/images/flags/US.png" alt="United States" style="width: 1rem; height: auto;">United States</a>
            <a class="m-dropdown__menu-item" href="#"><img class="-mr--2" src="../../assets/images/flags/VE.png" alt="Venezuela" style="width: 1rem; height: auto;">Venezuela</a>
          </div>
        </div>
      </div>
    </div>
    <script>chi.dropdown(document.getElementById('dropdown-1'));</script>

h4 Preventing memory leaks
p.-text
  | Dropdown components have a dispose function to free all resources attached to the element, such as event listeners
  | and object data. You must call this method when you want to remove the component.
:code(lang="javascript")
  var elem = document.getElementById('dropdown-3');
  var dropdown = chi.dropdown(elem);
  // do stuff
  dropdown.dispose();

p.-text
  span.a-badge.-brand.-mr1
    span Tip
  | It is safe to call the <code>dropdown</code> method more than once, as it will return any previously created dropdown component
  | associated to the trigger.
:code(lang="javascript")
  var elem = document.getElementById('dropdown-4');
  var dropdown = chi.dropdown(elem);
  var elem2 = document.getElementById('dropdown-4');
  var dropdown2 = chi.dropdown(elem2);
  dropdown === dropdown2; // returns true

  dropdown.dispose(); // Only have to do it once.

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      Array.prototype.forEach.call(
        document.getElementsByClassName("m-dropdown__trigger"),
        function(el){
          chi.dropdown(el);
        }
      );
    },
    false
  );
